[user]
	name = Kirk Bater
	email = kirk.bater@gmail.com
[push]
	default = simple
[alias]
	undo-commit = reset --soft HEAD^
	pr = pull-request -m
	git = !exec git
	branch-cleanup = !echo hello
	bomb = !git-bomb
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[core]
	excludesfile = /Users/kirkbator/.gitignore_global
	editor = /usr/bin/vim
[credential]
	helper = osxkeychain
[http]
	sslVerify = true
[hub]
	host = github.com
[http "https://gopkg.in"]
	followRedirects = true
